name: Train and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 dagshub pandas scikit-learn matplotlib seaborn

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

  build-docker:
    needs: train
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./MLProject
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/heart-failure-prediction:${{ github.sha }},${{ secrets.DOCKER_USERNAME }}/heart-failure-prediction:latest
